body{
    font-family: 'Times New Roman', Times, serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
}

ul li{
    float: left;
    background: url('/Geral/CSS_Advanced/NavegacaoAbas/aba-direita2.png') no-repeat top right;
}

li a{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url('/Geral/CSS_Advanced/NavegacaoAbas/aba-esquerda2.png') no-repeat top left ;
    color:white;
}

ul a:hover{
    color: #894a1f;
}

ul #atual{
    background: url('/Geral/CSS_Advanced/NavegacaoAbas/aba-direita-atual.png');    
}
ul #atual a{
    background: url('/Geral/CSS_Advanced/NavegacaoAbas/aba-esquerda-atual.png') no-repeat top left ;
}